<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ferhat.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/footbook"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAdxK6DeFTq4HBThvZi9y7Khh5DdOe5iFg"/>

        <activity android:name=".MainActivity">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".RechercheActivity"/>
        </activity>
        <activity
                android:name=".AjouterActivity"
                android:parentActivityName=".MainActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".DetailActivity"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".RechercheActivity"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <receiver
                android:name=".EnvoieDiffereReceiver"
                android:exported="false"/>
        <receiver
                android:name=".ConnectionReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.NETWORK_STATE_CHANGED_ACTION"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".MessageService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
                android:name=".SelectionCarteActivity"
                android:parentActivityName=".AjouterActivity"/>

        <activity
                android:name=".LoginActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SignupActivity"/>

    </application>

</manifest>